{% extends "base.html" %}

{% block title %} user_add {% endblock %}

{% block content %}
<!--<b><a href="/hello/userlist/"><<返回用户界面</a></b>-->

{% if msg.code == 0 %}
    <p style="color:green"> {{msg.result}} </p>
{% else %}
    <p style="color:red"> {{msg.result}} </p>
{% endif %}


<form  method="post" action="">
用户：<input type="text" name="name" /><br />
密码：<input type="password" name="password" minlength="2"/><br />
性别：<input type="radio" name="sex" value="0">男 <input type="radio" name="sex" value="1">女<br />
<button type="submit">确定</button>
<button type="reset">重置</button>
</form>

{% endblock %}





